<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <h2>Welcome to <%= title %></h2>
            <p class="test">
              Welcome to my website. I have created this website for my midterm using all the knowledge I gained during the course.<br>
              I used Express.js to build this website. This is also uploaded on GitHub and I used Heroku to publish my webpage.
            </p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


